@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="informations d-flex align-items-center w-100">
    <div>
        <h5 class="text-secondary text-sm">110 veículos</h5>
        <span class="text-primary font-weight-bold">Total</span>
    </div>
    <div class="divider"></div>
    <div>
        <h5 class="text-secondary text-sm">080 veículos</h5>
        <span class="text-success font-weight-bold">com fotos</span>
    </div>
    <div class="divider"></div>
    <div>
        <h5 class="text-secondary text-sm">030 veículos</h5>
        <span class="text-danger font-weight-bold">sem fotos</span>
    </div>
</div>
