@* @model IEnumerable<AdSetDesafio.Infrastructure.ViewModel.VeiculoViewModel> *@

<div class="container conteudo-geral">
    <div class="retangulo-cinza-claro"></div>
    <div class="container filtros">
        <div class="container totalizadores exportar cadastrar salvar" style="padding: 10px 0px 0px 0px; display: inline-flex; min-width: 100%; justify-content: space-around;">
            <div class="totalizador">
                <span class="cinza-claro titulo-totalizador">110 veículos</span>
                <b style="color: #1583bd;">Total</b>
            </div>
            <div class="separator"></div>
            <div class="totalizador">
                <span class="cinza-claro  titulo-totalizador">80 veículos</span>
                <b style="color: #3fa42a;">Com Fotos</b>
            </div>
            <div class="separator"></div>
            <div class="totalizador">
                <span class="cinza-claro  titulo-totalizador">30 veículos</span>
                <b style="color: #de0019;">Sem Fotos</b>
            </div>
            <div class="exportarEstoque cinza-claro">
                <span> Exportar Estoque</span>
                <img src="~/Images/botao-exportar.png" style="height:40px;" />
            </div>
            <div class="cadastrarVeiculo">
                <img src="~/Images/cadastrar-veiculo.png" id="btnCadastrarVeiculo" style="height:70px;" />
            </div>
            <div class="salvarBotao">
                <img src="~/Images/botao-salvar.png" style="height:70px;" />
            </div>
        </div>
        <div class="container-consultar">
            <div class="filtros-consulta">
                <div style="width: 8%;">
                    <label class="label-inputs" for="Placa">Placa</label>
                    <input class="campos-texto" id="consultaPlaca" type="text"/>
                </div>
                <div style="width:12%;">
                    <label class="label-inputs" for="Placa">Marca</label>
                    <input class="campos-texto" id="consultaMarca" type="text" />
                </div>
                <div style="width: 20%;">
                    <label class="label-inputs" for="Placa">Modelo</label>
                    <input class="campos-texto" id="consultaModelo" type="text" />
                </div>
                <div style="width: 8%;">
                    <label class="label-inputs" for="AnoMin">Ano Min</label>
                    <select class="campos-select" id="consultaAnoMin">
                        <option value="0" selected="">Todos</option>
                        <option value="2024">2024</option>
                        <option value="2023">2023</option>
                        <option value="2022">2022</option>
                        <option value="2021">2021</option>
                        <option value="2020">2020</option>
                        <option value="2019">2019</option>
                        <option value="2018">2018</option>
                        <option value="2017">2017</option>
                        <option value="2016">2016</option>
                        <option value="2015">2015</option>
                        <option value="2014">2014</option>
                        <option value="2013">2013</option>
                        <option value="2012">2012</option>
                        <option value="2003">2011</option>
                        <option value="2002">2010</option>
                        <option value="2001">2009</option>
                        <option value="2000">2008</option>
                        <option value="2003">2007</option>
                        <option value="2002">2006</option>
                        <option value="2001">2005</option>
                        <option value="2000">2004</option>
                        <option value="2003">2003</option>
                        <option value="2002">2002</option>
                        <option value="2001">2001</option>
                        <option value="2000">2000</option>
                    </select>
                </div>
                <div style="width: 7%;">
                    <label class="label-inputs" for="AnoMax">Ano Max</label>
                    <select class="campos-select" id="consultaAnoMax">
                        <option value="0" selected="">Todos</option>
                        <option value="2024">2024</option>
                        <option value="2023">2023</option>
                        <option value="2022">2022</option>
                        <option value="2021">2021</option>
                        <option value="2020">2020</option>
                        <option value="2019">2019</option>
                        <option value="2018">2018</option>
                        <option value="2017">2017</option>
                        <option value="2016">2016</option>
                        <option value="2015">2015</option>
                        <option value="2014">2014</option>
                        <option value="2013">2013</option>
                        <option value="2012">2012</option>
                        <option value="2003">2011</option>
                        <option value="2002">2010</option>
                        <option value="2001">2009</option>
                        <option value="2000">2008</option>
                        <option value="2003">2007</option>
                        <option value="2002">2006</option>
                        <option value="2001">2005</option>
                        <option value="2000">2004</option>
                        <option value="2003">2003</option>
                        <option value="2002">2002</option>
                        <option value="2001">2001</option>
                        <option value="2000">2000</option>
                    </select>
                </div>
                <div style="width: 11%;">
                    <label class="label-inputs" for="Preco">Preco</label>
                    <select class="campos-select" id="consultaPreco">
                        <option value="0" selected="">Todos</option>
                        <option value="1">10mil a 50mil</option>
                        <option value="2">50mil a 90mil</option>
                        <option value="3">90mil ou mais</option>
                    </select>
                </div>
                <div style="width: 11%;">
                    <label class="label-inputs" for="Fotos">Fotos</label>
                    <select class="campos-select" id="consultaFoto">
                        <option value="0" selected="">Todos</option>
                        <option value="1">Com fotos</option>
                        <option value="2">Sem Fotos</option>
                    </select>
                </div>
                <div style="width: 9%;">
                    <label class="label-inputs" for="Opcionais">Opcionais</label>
                    <input class="campos-texto" type="text" id="consultaOpcional" />
                </div>
                <div style="width: 7%;">
                    <label class="label-inputs" for="Cor">Cor</label>
                    <select class="campos-select" id="consultaCor">
                        <option value="0" selected="">Todos</option>
                        <option value="Branco">Branco</option>
                        <option value="Preto">Preto</option>
                        <option value="Prata">Prata</option>
                    </select>
                </div>
                <div style="width: 2%;">
                    <img class="limpar-consulta" src="~/Images/botao-limpar-consulta.png" id="consultaLimpar"/>
                </div>
            </div>
            <div class="row col-12 botao-buscar" style="width: 10%;display: flex;align-content: center;justify-content: center;align-items: center;flex-direction: column;margin: 0% 45%;">
                <button class="botao-consulta" id="btnFilterConfirmation" style="background-color: #3fa42a;color: white;border: none;border-radius: 0px 0px 15px 15px;height: 42px;font-size: 120%;"><i class="fa fa-search fa-rotate-90 fa-sm" style=""></i> Buscar</button>
            </div>
        </div>
        <div class="container-principal filtros-ordenacao">
            <div class="container filtros-ordenacao btn-limpar-ordenacao" style="width: 67px;padding: 0px 0px 0px 5px;">
                <div style="display: flex; align-items: center; padding-top: 3px;">
                    <div class="arrow-container">
                        <i class="fas fa-sort-up arrow"></i>
                        <i class="fas fa-sort-down arrow"></i>
                    </div>
                    <img style="height:20px;" src="/Images/limpar-ordenacao.png">
                </div>
            </div>
            <div class="header-ordenacaoVeiculos">
                <div class="coluna header-ordenacaoVeiculos">
                    <div style="display: flex; align-items: center;">
                        <span>Marca / Modelo</span>
                        <div class="arrow-container ordenacao">
                            <i class="fas fa-sort-up arrow" style="color: #7c7c7c;"></i>
                            <i class="fas fa-sort-down arrow" style="color: #3fa42a;"></i>
                        </div>
                    </div>
                </div>
                <div class="coluna header-ordenacaoVeiculos">
                    <div style="display: flex; align-items: center;">
                        <span>Ano</span>
                        <div class="arrow-container ordenacao">
                            <i class="fas fa-sort-up arrow" style="color: #7c7c7c;"></i>
                            <i class="fas fa-sort-down arrow" style="color: #7c7c7c;"></i>
                        </div>
                    </div>
                </div>
                <div class="coluna header-ordenacaoVeiculos">
                    <div style="display: flex; align-items: center;">
                        <span>Preço</span>
                        <div class="arrow-container ordenacao">
                            <i class="fas fa-sort-up arrow" style="color: #7c7c7c;"></i>
                            <i class="fas fa-sort-down arrow" style="color: #3fa42a;"></i>
                        </div>
                    </div>
                </div>
                <div class="coluna header-ordenacaoVeiculos">
                    <div style="display: flex; align-items: center;">
                        <span>Fotos</span>
                        <div class="arrow-container ordenacao">
                            <i class="fas fa-sort-up arrow" style="color: #7c7c7c;"></i>
                            <i class="fas fa-sort-down arrow" style="color: #7c7c7c;"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div style="display: inline-flex; align-items: flex-end;">
                <div class="pagination__count" style="display: inline-block;/* width: 50%; */">
                    <select class="form-select pagination-count__select" id="itemsCount" aria-label="Exibir">
                        <option value="8" selected="">Exibir 8</option>
                        <option value="10">Exibir 10</option>
                        <option value="15">Exibir 15</option>
                        <option value="20">Exibir 20</option>
                        <option value="50">Exibir 50</option>
                        <option value="100">Exibir 100</option>
                    </select>
                </div>
                <div class="logo-pacotes">
                    <img id="img-iCarros" style="height: 50px" src="~/Images/ICarros.png"/>
                </div>
                <div class="logo-pacotes">
                    <img id="img-webMotors" style="height: 50px" src="~/Images/WebMotors.png" />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container listagem-veiculos">
    <div class="listagem-veiculos">
        <div class="listagem-veiculos-item">
            <table class="table table-protocolo text-start" id="table">
                <thead style="display: none;">
                    <tr>
                        <th class="text-start table-protocolo__column-first"></th>
                        <th class="text-start table-protocolo__column">Marca</th>
                        <th class="text-start table-protocolo__column">Modelo</th>
                        <th class="text-start table-protocolo__column">Ano</th>
                        <th class="text-start table-protocolo__column">Placa</th>
                        <th class="text-start table-protocolo__column">Km</th>
                        <th class="text-start table-protocolo__column">Cor</th>
                        <th class="text-start table-protocolo__column">Preço</th>
                    </tr>
                </thead>
                <tbody id="tableVeiculo" class="text-start">
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="navegacao-paginacao">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link seta-paginacao" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link seta-paginacao" href="#" aria-label="Previous">
                    <span aria-hidden="true">&lsaquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link no-border" href="#">1</a>
            </li>
            <li class="page-item">
                <a class="page-link no-border" href="#">2</a>
            </li>
            <li class="page-item">
                <a class="page-link no-border" href="#">3</a>
            </li>
            <li class="page-item">
                <a class="page-link no-border" href="#">4</a>
            </li>
            <li class="page-item">
                <a class="page-link no-border" href="#">5</a>
            </li>
            <li class="page-item">
                <a class="page-link no-border" href="#">6</a>
            </li>
            <li class="page-item">
                <a class="page-link no-border" href="#">7</a>
            </li>
            <li class="page-item">
                <a class="page-link no-border" href="#">8</a>
            </li>
            <li class="page-item">
                <a class="page-link no-border" href="#">9</a>
            </li>
            <li class="page-item">
                <a class="page-link no-border" href="#">10</a>
            </li>
            <li class="page-item">
                <a class="page-link seta-paginacao" href="#" aria-label="Next">
                    <span aria-hidden="true">&rsaquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link seta-paginacao" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
@* <div class="Lista-Veiculos">
    <div class="container paginacao">
        <div class="wrapper">
            <div class="panel panel-default panel-custom panel-protocolo">
                <div class="row panel panel-default ibox-content m-0 border-0 p-0" style="line-height: 35px;">
                    <div class="sk-spinner sk-spinner-double-bounce">
                        <div class="sk-double-bounce1"></div>
                        <div class="sk-double-bounce2"></div>
                    </div>
                    <table class="tabletext-start" id="table" style="display: inline-block; width: 50%;">
                        <thead style="">
                            <tr>
                                <th class="text-start" style="width: 140px; padding-right: 0px; border-right: 1px solid #bfbfbf;">
                                    Marca / Modelo
                                </th>
                                <th class="text-start" style="width: 47px; border-right: 1px solid #bfbfbf;">
                                    Ano
                                </th>
                                <th class="text-start" style="width: 60px; border-right: 1px solid #bfbfbf;">
                                    Preço
                                </th>
                                <th class="text-start" style="border-right: 1px solid #bfbfbf; width: 60px;">
                                    Fotos
                                </th>
                            </tr>
                        </thead>
                        <tbody id="tableVeiculo" class="text-start">
                        </tbody>
                    </table>
                    <div class="navigation">
                        <div class="pagination__wrapper">

                            <div class="pagination-navigation">
                                <span class="pagination-navigation__status" id="statusPagination">?-? de ?</span>
                                <button class="btn btn-link" type="button" id="previous" aria-expanded="false">
                                    <i class="bi bi-chevron-left"></i>
                                </button>
                                <button class="btn btn-link me-5" type="button" id="next" aria-expanded="false">
                                    <i class="bi bi-chevron-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> *@

@section Scripts {
    <script src="~/js/dataTable.js"></script>
    <script src="~/js/app/ConsultarVeiculo.js?version=1"></script>

}
